	table{

	text-align: center;
	font-size: 50%;
	margin-left:10%;
	margin-top: 5%;
	border: 1px solid grey;
		border-collapse: separate;
		box-shadow: inset 0 1px 0 #fff;
		line-height: 24px;
		width: 80%;  }*/
  
  }
  
  
  table tr:nth-child(even)
  {
	background-color: #1a1a1a;
  }
  
  table tr:nth-child(odd)
  {
	background-color: #333333;
  }
  
  table th{
	background-color: #e6e6e6;
  }

  table tr:hover
  {
	  background-color:white;
	  color:black;
  }
  

  .m_mybutton {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
	cursor: pointer;
	width:30%;
	border-radius: 14px;
-webkit-border-radius: 14px;
-moz-border-radius: 14px;
margin-left: 35%;
}


.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
}

.button1:hover {
    background-color: #555555;
    color: white;
}

